@font-face {
    src: url("/public/fonts/Poppins-Medium.ttf");
    font-family: pm;
  }
  @font-face {
    src: url("/public/fonts/Poppins-SemiBold.ttf");
    font-family: psb;
  }
  @font-face {
    src: url("/public/fonts/Inter-Black.ttf");
    font-family: ib;
  }
  
  .container .nav .nav-link {
    color: #e03444 !important;
  }
  
  .container .nav .active{
    color: white !important;
    background-color:#e03444 !important;
  }
  .newbackcolor{
  background-color: #ee1d52 !important;
  }
  
  .newcolor{
    color: #ee1d52 !important;
    }
    .btnborder{
      border: 2px #ee1d52 !important;
    }
  .scrollertop{
    width: 51px !important;
    height: 51px !important;
  }
  
  div *::-webkit-scrollbar {
    width: -3px;
  }
  
  @font-face {
    src: url("/public/fonts/Inter-SemiBold.ttf");
    font-family: isb;
  }
  @font-face {
    src: url("/public/fonts/Poppins-Regular.ttf");
    font-family: bop;
  }
  @font-face {
    src: url("/public/fonts/Inter-Bold.ttf");
    font-family: subs;
  }
  @font-face {
    src: url("/public/fonts/Inter-Bold.ttf");
    font-family: subb;
  }
  @font-face {
    src: url("/public/fonts/NotoSans-Regular.ttf");
    font-family: sublb;
  }
  @font-face {
    src: url("/public/fonts/Inter-Regular.ttf");
    font-family: ir;
  }
  @font-face {
    src: url("/public/fonts/Inter-Medium.ttf");
    font-family: him;
  }
  @font-face {
    src: url("/public/fonts/Poppins-Bold.ttf");
    font-family: fpb;
  }
  @font-face {
    src: url("/public/fonts/Inter-Bold.ttf");
    font-family: subs;
  }
  @font-face {
    src: url("/public/fonts/NotoSans-Bold.ttf");
    font-family: nsb;
  }
  @font-face {
    src: url("/public/fonts/Roboto-Bold.ttf");
    font-family: rbf;
  }
  
  :root {
    --black: #000;
  }
  
  
  /* For Page Scroller */
  .top-to-btm{
    position: relative;
  }
  .icon-position{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  .icon-style{
    background-color: #551B54;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation: none;
    background: #fff;
    color: #551B54;
    border: 2px solid #551B54;
  }
  @keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0px);
    }
  }


  .container .nav .nav-link {
    color: #e03444 !important;
  }
  
  .container .nav .active{
    color: white !important;
    background-color:#e03444 !important;
  }
  .newbackcolor{
  background-color: #ee1d52 !important;
  }
  
  .newcolor{
    color: #ee1d52 !important;
    }
    .btnborder{
      border: 2px #ee1d52 !important;
    }